@charset "UTF-8";

@font-face{
    font-family:"helvetica-43-light-extended";
    src:url("https://candyfonts.com/wp-data/2019/04/06/51278/HelveticaNeue-LightExt.otf") format("woff"),
    url("https://candyfonts.com/wp-data/2019/04/06/51278/HelveticaNeue-LightExt.otf") format("opentype"),
    url("https://candyfonts.com/wp-data/2019/04/06/51278/HelveticaNeue-LightExt.otf") format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #000;
}

header {
    width: 1800px;
    height: 80px;
    margin: 0 auto 70px auto;
    box-sizing: border-box;
}

.nav {
    display: flex;
}

.nav h1 {
    width: 65px;
    height: 43px;
    text-indent: -9999px;
    background: url(../img/logo.png);
    margin-top: 2%;
}

.nav li:first-child {
    flex: 1;
}

.nav li {
    box-sizing: border-box;
    height: 80px;
    line-height: 80px;
}

.bt {
    width: 950px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.bt a {
    font-size: 18px;
    font-family: "Montserrat", sans-serif;
    color: #888;
}

.bt a:nth-of-type(3) {
    color: #fff;
    text-decoration: underline;
    text-underline-position : under;
    font-weight: 500;
    text-decoration-thickness: 1.5px;
}

.bt a:hover {
    color: #fff;
    text-decoration: underline;
    text-underline-position : under;
    text-decoration-thickness: 1.5px;
    font-weight: 500;
}

main {
    color: #fff;
}

.main_page {
    width: 1800px;
    height: 50vh;
    font-family: "Montserrat", sans-serif;
    margin: auto;
}

.main_page p:first-child {
    width: 1800px;
    border-bottom: 1px solid #fff;
    text-align: center;
    font-size: 180px;
    margin-bottom: 20px;
}

.main_page p:nth-of-type(2) {
    width: 82px;
    height: 20px;
    font-size: 20px;
}


.section_1 {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
    width: 1800px;
    margin: auto;
    height: 35vh;
}

.section_1 div {
    float: right;
}

.title {
    font-size: 30px;
    width: 649px;
    height: 102px;
    line-height: 45px;
    margin-bottom: 60px;
}

.content {
    font-size: 18px;
    font-weight: lighter;
    width: 549px;
    height: 48px;
    line-height: 25px;
}

.cal {
    width: 1800px;
    height: 1350px;
    margin: auto;
    background: url(../img/schedule.png);
    margin-bottom: 180px;
}





footer {
    height: 185px;
    padding-top: 45px;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


footer ul {
    width: 1800px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.ft {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
}

.ft_bt {
    color: #888;
    width: 380px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 18px;
    
}

.ft_bt a {
    width: 130px;
}

.ft_bt a:hover {
    color: #fff;
    cursor: pointer;
}
